{% block page %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="reg-header">
                <h1>{{ 'user.profile.edit'|trans }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" method="POST" action="{{ path('okred_job_employerprofile_edit') }}">
                <div class="reg-block">
                    <h4>{{ 'user.profile.personal_info'|trans }}</h4>
                        {{ form_errors(form) }}

                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}

                        {{ form_rest(form) }}

                    </form>
                </div>
                <div class="reg-block">
                    <button type="submit"
                            class="btn btn-warning">{{ 'buttons.save'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}