{% extends "OkredJobBundle::layout.html.twig" %}
{% use "OkredJobBundle:Candidate:_common.html.twig" %}
{% trans_default_domain "OkredJobBundle" %}
{% set tab = 'profile' %}
{% block page %}
    <div class="row">
        <div class="col-md-12">
            {{ block('profile_header') }}
            <div class="space-top-m">
                <h3>Основное</h3>
                <dl class="dl-horizontal">
                    <dt>{{ 'user.profile.full_name'|trans }}</dt>
                    <dd>{{ user.fullName|default('имя не указано') }}</dd>
                    <dt>{{ 'candidate.form.gender.label'|trans }}</dt>
                    <dd>{{ profile.gender|map({0:'unknown',1:'candidate.form.gender.female',2:'candidate.form.gender.male'})|trans }}</dd>
                    <dt>{{ 'user.profile.email'|trans }}</dt>
                    <dd>{{ user.email }}</dd>
                    <dt>{{ 'candidate.form.phones.label'|trans }}</dt>
                    <dd>
                        {%- if not profile.phone1 and not profile.phone2 and not profile.phone3 -%}
                            <em>{{ 'candidate.from.phones.none'|trans }}</em>
                        {%- else -%}
                            {{ [profile.phone1,profile.phone2,profile.phone3]|nonempty|join('<br>')|raw }}
                        {%- endif -%}
                    </dd>
                    <dt>{{ 'candidate.form.birth_date.label'|trans }}</dt>
                    <dd>{{ profile.birthDate|format_date }}
                        {{ profile.birthDateHide ? 'candidate.form.birth_hide.yes':'candidate.form.birth_hide.no'|trans }}</dd>
                    <dt>{{ 'candidate.form.city.label'|trans }}</dt>
                    <dd>{{ profile.city.name }}</dd>
                    <dt>{{ 'candidate.form.citizenship.label'|trans }}</dt>
                    <dd>{{ profile.citizenship.name }}</dd>
                    <dt>{{ 'candidate.form.work_permit.label'|trans }}</dt>
                    <dd>{{ profile.workPermit.name }}</dd>
                </dl>
                <h3>Предпочтения</h3>
                <dl class="dl-horizontal">
                    <dt>{{ 'candidate.form.time_to_office.label'|trans }}</dt>
                    <dd>{{ profile.timeToOffice|map({
                        0:'candidate.form.time_to_office.any',
                        1:'candidate.form.time_to_office.hour',
                        2:'candidate.form.time_to_office.hour_and_half'})|trans }}</dd>
                    <dt>{{ 'candidate.form.transfer.label'|trans }}</dt>
                    <dd>{{ profile.transfer|map({
                        0:'candidate.form.transfer.impossible',
                        1:'candidate.form.transfer.possible',
                        2:'candidate.form.transfer.desired'
                        })|trans }}</dd>
                    <dt>{{ 'candidate.form.trip.label'|trans }}</dt>
                    <dd>{{ profile.trip|map({
                        0:'candidate.form.trip.never',
                        1:'candidate.form.trip.ready',
                        2:'candidate.form.trip.sometimes'
                        })|trans }}</dd>
                </dl>
                <div>
                    <a class="btn btn-default"
                       href="{{ path('okred_job_candidate_profile_edit') }}">{{ 'user.profile.edit'|trans }}</a>
                    <a class="btn btn-default" href="#">{{ 'user.password.change'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}