{% extends "OkredJobBundle::layout.html.twig" %}
{% use "OkredJobBundle:Candidate:_common.html.twig" %}
{% form_theme form 'OkredJobBundle::_form_layout.html.twig' %}
{% trans_default_domain "OkredJobBundle" %}
{% set tab = 'resume' %}
{% block page %}
    <div class="row">
        <div class="col-md-12">
            {{ block('profile_header') }}
            <div class="row space-top-m">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Новое резюме</h3>
                    {{ form_start(form, {'attr':{'role':'form', 'class':'space-top-l'} }) }}
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, {'attr':{'class':'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.salary) }}
                        {{ form_widget(form.salary, {'attr':{'class':'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.employment) }}
                        {{ form_widget(form.employment, {'attr':{'class':'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Опыт работы</label>
                        <div>
                            <button type="button" class="btn btn-success btn-sm">Добавить опыт работы</button>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.keySkills) }}
                        {{ form_widget(form.keySkills, {'attr':{'class':'form-control', 'style':'height:10em;'} }) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}