{% block common_css %}
    <link href="{{ asset('/bundles/okredjob/vendor/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/okredjob/vendor/select2/select2.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/okredjob/css/okred.css') }}" rel="stylesheet">
{% endblock %}
{% block common_js %}
    <!--[if lt IE 9]>
    <script src="{{ asset('/bundles/okredjob/vendor/bootstrap/assets/js/html5shiv.js') }}"></script>
    <script src="{{ asset('/bundles/okredjob/vendor/bootstrap/assets/js/respond.min.js') }}"></script>
    <![endif]-->
    <script src="{{ asset('/bundles/okredjob/vendor/bootstrap/assets/js/jquery.js') }}"></script>
    <script src="{{ asset('/bundles/okredjob/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/bundles/okredjob/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('/bundles/okredjob/vendor/select2/select2_locale_ru.js') }}"></script>
{% endblock %}
{% block auth_info -%}
    <div class="auth">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="btn btn-success btn-xs" href="{{ path('okred_job_userprofile_main') }}">{{ app.user.shortName }}
                Соискатель</a>
            <a class="btn btn-success btn-xs"
               href="{{ path('okred_job_employerprofile_main') }}">{{ app.user.shortName }} Работодатель</a>

            <a class="btn btn-info btn-xs"
               href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a class="btn btn-info btn-xs"
               href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            |
            <a class="btn btn-warning btn-xs"
               href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
{%- endblock %}