{% trans_default_domain "OkredJobBundle" %}
{% use "OkredJobBundle::common-blocks.html.twig" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OKRED.JOB{% endblock %}</title>
    {% block css %}
        <link href="{{ asset('/bundles/okredjob/b/dist/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('/bundles/okredjob/css/okred.css') }}" rel="stylesheet">
    {% endblock %}
    {% block js %}
        <!--[if lt IE 9]>
        <script src="{{ asset('/bundles/okredjob/b/assets/js/html5shiv.js') }}"></script>
        <script src="{{ asset('/bundles/okredjob/b/assets/js/respond.min.js') }}"></script>
        <script src="{{ asset('/bundles/okredjob/b/assets/js/jquery.js') }}"></script>
        <script src="{{ asset('/bundles/okredjob/b/dist/js/bootstrap.min.js') }}"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
{% block container -%}
    <div class="container">
        <div class="masthead">
            <div class="title">
                <a href="{{ path('okred_job_home') }}" class="no-link">
                    <h3 class="text-muted">OK<span class="red">RED</span>.JOB</h3>
                </a>
            </div>
            {{ block('auth_info') }}
            <div class="clearfix"></div>
            <ul class="nav nav-justified">
                <li class="active"><a href="#">{{ 'site.nav.search'|trans }}</a></li>
                <li><a href="#">{{ 'site.nav.vacancy'|trans }}</a></li>
                <li><a href="#">{{ 'site.nav.resume'|trans }}</a></li>
                <li><a href="#">{{ 'site.nav.about'|trans }}</a></li>
            </ul>
        </div>
        {% block page %}{% endblock %}
        <div class="footer">
            <p>&copy; OKRED 2013</p>
        </div>
    </div>
{%- endblock %}
{#<div style="position:relative; box-sizing: border-box; height:180px; background: #ff0;">
<div style="float: left; margin: 10px;">
<ul>
<li><a href="" style="font-weight: bold;">Об OKRED.Job</a></li>
<li><a href="">Наши вакансии</a></li>
<li><a href="">Пишите нам</a></li>
<li><a href="">Оцените нас</a></li>
<li><a href="">Партнёры</a></li>
<li><a href="">Исследования</a></li>
<li><a href="">Требования к ПО</a></li>
<li><a href="">Реклама на сайте</a></li>
</ul>
</div>
<div style="float: left; margin: 10px;">
<ul>
<li><a href="" style="font-weight: bold;">Работодателям</a></li>
<li><a href="">Публикация вакансий</a></li>
<li><a href="">Прайс-лист</a></li>
<li><a href="">Производственный календарь</a></li>
</ul>
</div>
<div style="float: left; margin: 10px;">
<ul>
<li><a href="" style="font-weight: bold;">Соискателям</a></li>
<li><a href="">Продвижение резюме</a></li>
<li><a href="">Работа в других городах</a></li>
<li><a href="">Защита персональных данных</a></li>
</ul>
</div>
</div> #}
</body>
</html>