{% trans_default_domain "OkredJobBundle" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OKRED.JOB{% endblock %}</title>
    {% block css %}
        <link href="{{ asset('/bundles/okredjob/b/dist/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('/bundles/okredjob/css/okred.css') }}" rel="stylesheet">
    {% endblock %}
    {% block js %}
        <!--[if lt IE 9]>
        <script src="{{ asset('/bundles/okredjob/b/assets/js/html5shiv.js') }}"></script>
        <script src="{{ asset('/bundles/okredjob/b/assets/js/respond.min.js') }}"></script>
        <script src="{{ asset('/bundles/okredjob/b/assets/js/jquery.js') }}"></script>
        <script src="{{ asset('/bundles/okredjob/b/dist/js/bootstrap.min.js') }}"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
{% block container -%}
    <div class="container">
        <div class="masthead masthead-clean">
            <div class="title">
                <a href="{{ path('okred_job_home') }}" class="no-link">
                    <h3 class="text-muted">OK<span class="red">RED</span>.JOB</h3>
                </a>
            </div>
            <div class="auth">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="btn btn-success btn-xs"
                       href="#">{{ app.user.shortName }}</a>
                    |
                    <a class="btn btn-info btn-xs"
                       href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a class="btn btn-info btn-xs"
                       href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    |
                    <a class="btn btn-warning btn-xs"
                       href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
        {% block page %}{% endblock %}
        <div class="footer">
            <p>&copy; OKRED 2013</p>
        </div>
    </div>
{%- endblock %}
</body>
</html>