{% trans_default_domain "OkredJobBundle" %}
{% use "OkredJobBundle::common_blocks.html.twig" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OKRED.JOB{% endblock %}</title>
    {% block css %}
        <link href="{{ asset('/bundles/okredjob/b/dist/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('/bundles/okredjob/css/okred.css') }}" rel="stylesheet">
    {% endblock %}
    {% block js %}
        <!--[if lt IE 9]>
        <script src="{{ asset('/bundles/okredjob/b/assets/js/html5shiv.js') }}"></script>
        <script src="{{ asset('/bundles/okredjob/b/assets/js/respond.min.js') }}"></script>
        <script src="{{ asset('/bundles/okredjob/b/assets/js/jquery.js') }}"></script>
        <script src="{{ asset('/bundles/okredjob/b/dist/js/bootstrap.min.js') }}"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
{% block container -%}
    <div class="container">
        <div class="masthead masthead-clean">
            <div class="title">
                <a href="{{ path('okred_job_home') }}" class="no-link">
                    <h3 class="text-muted">OK<span class="red">RED</span>.JOB</h3>
                </a>
            </div>
            {{ block('auth_info') }}
            <div class="clearfix"></div>
        </div>
        {% block page %}{% endblock %}
        <div class="footer">
            <p>&copy; OKRED 2013</p>
        </div>
    </div>
{%- endblock %}
</body>
</html>